---
layout: default
---

<div class="about">
	<h1>World Wide Haxe Conference</h1>
	<p>
		This conference is organized for the developers of the Haxe community by Silex Labs, during this event, you will have the opportunity to discover the latest Haxe's
		innovations and strategy. This event provides you with an unmatched platform to meet, network and share knowledge on Haxe.
	</p>
</div>

<h2>Why shoud I go to the WWX?</h2>
<p>
	Only looking at your own way to use Haxe can be like standing so close to a wall that you can't see the whole picture.
	Meeting other people and exchanging ideas is one fundamental way of moving forward in your development process.
	Whether you are facing coder's block, like to present your newest project, are looking for help and new ideas or just
	generally enjoy meeting the community – you should definitely visit the WWX. You will get to spend quality time with
	developers who use Haxe and people who are involved with its development. The convention is the perfect platform to
	discuss new ideas and give your input regarding Haxe's future. We will have a lively discussion about future challenges
	and shared experiences. Join us in a round of exciting talks and community time and help us bring Haxe to a wider audience.
</p>

<h2>What if I can't go to the WWX?</h2>
<p>
	You can't make it? What a shame, we would have loved to see you very much. Promise to try again the next year, ok?
	Alas, even if you can’t come to WWX, there are ways for you to participate and get some new input and community love.
	We have a live stream throughout the conference and take comments and questions via twitter. Be sure to tune in and
	enjoy the talks and give us a shout on your favorite social media site. Even if you are not coming, join the pre-WWX
	conversation by following us on facebook and twitter, giving us your suggestions and spreading the word about Haxe and WWX.
</p>

{% include aside-start.html %}
	
	<div class="box70">
		<h2>Recent News</h2>
	</div>
	
	<div class="box30">
		Tweets
	</div>
	
{% include aside-end.html %}
