.step
  background-image radial-gradient(rgba(255,255,255,0.8), rgba(220,220,220,0.9))
  background-position center bottom
  background-repeat no-repeat

footer
  position absolute
  bottom 1em
  text-align right
  width 800px

h1, h2, h3
  margin 0 0 0.5em 0

header
  margin-bottom 1em
  h1
    margin 0

 ul
  width 10em
  margin 0 auto
  li
    box-shadow 1px 1px 4px #ddd
    text-align center
    margin-bottom 0.5em
    padding 0.5em 0
    background #fff
    border-radius 32px

.will-fade
  transition opacity 1s
  opacity 0

.do-fade
  opacity 1

figure
  img, iframe
    background #fff
    border 1px solid #999
    padding 8px
    display block
    margin 0 auto
    box-shadow 1px 1px 4px rgba(0,0,0,0.4)
    max-width 800px
    max-height 390px
  figcaption
    text-align center
    font-size 0.7em
    margin-top 10px

figure.fullpage
  height calc(100% - 1.4em)
  padding 0
  margin 0
  iframe, img
    height 100%
    max-height 100%

.split
  .left, .right
    width 45%
    zoom 0.6
    position absolute
  .right
    left 50%
  .third-1, .third-2, .third-3
    width 33%
    zoom 0.8
    position absolute
  .third-1
    left 0
  .third-2
    left 33.33%
  .third-3
    left 66.66%

.split-big
  .left, .right
    width 45%
    position absolute
  .right
    left 50%

.size25
  zoom 25%

.size50
  zoom 50%

.size55
  zoom 55%

.size60
  zoom 60%

.size65
  zoom 65%

.size70
  zoom 70%

.size75
  zoom 75%

.size80
  zoom 80%

.size85
  zoom 85%

.size90
  zoom 90%


iframe.scaled75
  transform scale(0.75)
  transform-origin 0 0
  width 133.333% !important
  max-width 133.333% !important
  height 133.333% !important
  max-height 133.333% !important

iframe.scaled50
  transform scale(0.5)
  transform-origin 0 0
  width 200% !important
  max-width 200% !important
  height 200% !important
  max-height 200% !important