---
layout: default
year: 2015
---

<h2>The Fifth International Haxe Conference</h2>

<p>
	The WWX2015, the fifth Worldwide Haxe Conference, will take place in Paris from May 29th May to June 1st 2015.
	This conference is organized for the developers of the Haxe community by Silex Labs with the support of the Mozilla Foundation.
	During this event, you will have the opportunity to discover the latest Haxe's innovations and strategy. 
	You'll also be invited to attend and participate to different roundtables and workshops.
	This event provides you with an unmatched platform to meet, network and share knowledge on Haxe.
</p>

<div class="video">
	<iframe src="video.html" allowfullscreen="" scrolling="no" frameborder="0" height="525" width="100%">
	</iframe>
</div>

<h2>Crowdfunding</h2>
<p>
	<img style="float: right" src="{{ site.baseurl }}/images/2015/ulule-successfully-funded.png" alt="We are founded" />
	
	In spite of the hard work of the volunteers of Silex Labs and the Haxe community we still need some funding
	in order to organize a professional event well deserved by the Haxe Community (communication, video, food).
	We hope that you will be as motivated as we are to be an active member of this community. In order to make
	this event a success, we really need you for our haxe family so help us by taking part in the crowdfunding.
	
	<br /><br />
	EDIT: We're funded!
</p>

<h2>Location</h2>
<p>
	This year the conference will be located in <strong>Mozilla Paris</strong>.
	
	<br />
	<a href="location/">Map, address and practical informations</a>
</p>

<h2>Schedule</h2>
<p>
	<strong>Friday</strong> Welcoming day to meet the speakers, the staff and having good time in Paris.
	
	<br />
	<strong>Saturday and Sunday</strong> Speeches, lightning talks, roundtables and Haxeptionnal saturday night party.

	<br />
	<strong>Monday</strong> Contribution workshops aka Contributhon.
	
	<br />
	<a href="schedule/">Detailed schedule</a>
</p>

{% include aside-start.html %}
	
	<div class="box70">
		<a name="speakers"></a>
		<h2>Speakers</h2>
		
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/nicolas-cannasse-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/nicolas-cannasse/">Nicolas Cannasse</a></h3>
			<p>
				One year of Haxe
				<br/>
				<a href="talks/one-year-of-haxe/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/andy-li-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/andy-li/">Andy Li</a></h3>
			<p>
				Continuous Integration for Haxe Projects
				<br/>
				<a href="talks/continuous-integration-for-haxe-projects/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/david-mouton-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/david-mouton/">David Mouton</a></h3>
			<p>
				NPM, Haxe at the heart of Javascript ecosystem
				<br/>
				<a href="talks/npm-haxe-at-the-heart-of-javascript-ecosystem/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/robert-konrad-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/robert-konrad/">Robert Konrad</a></h3>
			<p>
				Kha
				<br/>
				<a href="talks/kha/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/daniel-glazman-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/daniel-glazman/">Daniel Glazman</a></h3>
			<p>
				Quaxe, infinity and beyond
				<br/>
				<a href="talks/quaxe-infinity-and-beyond/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/lars-doucet-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/lars-doucet/">Lars Doucet</a></h3>
			<p>
				Lime/OpenFL for home game consoles
				<br/>
				<a href="talks/lime-openfl-for-home-game-consoles/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/nickolay-grebenshikov-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/nickolay-grebenshikov/">Nickolay Grebenshikov</a></h3>
			<p>
				Jive: the renovation of Aswing
				<br/>
				<a href="talks/jive-the-renovation-of-aswing/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/elliott-stoneham-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/elliott-stoneham/">Elliott Stoneham</a></h3>
			<p>
				Prospects for using Go libraries in Haxe
				<br/>
				<a href="talks/prospects-for-using-go-libraries-in-haxe/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/david-elahee-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/david-elahee/">David Elahee</a></h3>
			<p>
				Drakarnage: Slapping data from web servers right in your GPU 
				<br/>
				<a href="talks/drakarnage-slapping-data-from-web-servers-right-in-your-gpu/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/juraj-kirchheim-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/juraj-kirchheim/">Juraj Kirchheim</a></h3>
			<p>
				Haxe for the Web: Getting things done
				<br/>
				<a href="talks/haxe-for-the-web-getting-things-done/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/hugh-sanderson-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/hugh-sanderson/">Hugh Sanderson</a></h3>
			<p>
				Hxcpp : State of the <span style="text-decoration: line-through">union</span> enum
				<br/>
				<a href="talks/hxcpp-state-of-the-union-enum/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/rui-campos-small.jpg" />
			<img src="{{ site.baseurl }}/images/speakers/sven-otto-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/sven-otto/">Sven Otto</a> and <a href="/speakers/rui-campos/">Rui Campos</a></h3>
			<p>
				Cross-Platform Game Development with the GameDuell DuellTool
				<br/>
				<a href="talks/cross-platform-game-development-with-the-gameduell-duelltool/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/jason-oneil-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/jason-oneil/">Jason O'Neil</a></h3>
			<p>
				Isomorphic Haxe: Using Ufront to build apps that work client side or server side
				<br/>
				<a href="talks/isomorphic-haxe-using-ufront-to-buid-apps-that-work-client-side-or-server-side/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/todd-kulick-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/todd-kulick/">Todd Kulick</a></h3>
			<p>
				TiVo Activity Haxelib
				<br/>
				<a href="talks/tivo-activity-haxelib/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/srikanth-ganapavarapu-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/srikanth-ganapavarapu/">Srikanth Ganapavarapu</a></h3>
			<p>
				What's the best IDE for Haxe development?
				<br/>
				<a href="talks/whats-the-best-ide-for-haxe-development/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/alfred-barberena-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/alfred-barberena/">Alfred Barberena</a></h3>
			<p>
				Haxe in the Enterprise: A Case Study
				<br/>
				<a href="talks/haxe-in-the-enterprise/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/philippe-elsass-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/philippe-elsass/">Philippe Elsass</a></h3>
			<p>
				You don't know FlashDevelop - tips and future
				<br/>
				<a href="talks/you-dont-know-flashdevelop-tips-and-future/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/markus-raab-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/markus-raab/">Markus Raab</a></h3>
			<p>
				The MOKICK Story
				<br/>
				<a href="talks/the-mokick-story/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/clement-charmet-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/clement-charmet/">Clément Charmet</a></h3>
			<p>
				A walk-through of Haxe JS Kit
				<br/>
				<a href="talks/a-walk-through-of-haxe-js-kit/">more...</a></p>
		</div>
		<div class="speaker">
			<img src="{{ site.baseurl }}/images/speakers/jean-baptiste-richardet-small.jpg" />
			<h3><a href="{{ site.baseurl }}/speakers/jean-baptiste-richardet/">Jean-Baptiste Richardet</a></h3>
			<p>
				Haxe Evangelism with Silex Labs
				<br/>
				<a href="talks/haxe-evangelism-with-silex-labs/">more...</a></p>
		</div>
	</div>
	
	<div class="box30">
		<h2>Tweets</h2>
		
		{% include tweets.html %}
	</div>
	
{% include aside-end.html %}
