* {padding:0px;margin:0px;}
body{font-family:sans-serif;background: #D3D3D3;}
h1{color:white;font-size:28pt;font-family:"arial black";}
h1 img {vertical-align: middle; margin-top: -7px;}
h2{color:#f58220;font-size:1.4em;line-height: 2em;padding-top:1.5em;display: inline-block;}
h3{font-size:1.2em;padding-top:0.5em;}
p{font-size:1em;line-height:2em;padding-top:0.3em;}
a{color:#ff5000;text-decoration:none;}
a:hover{text-decoration:underline;}
li{list-style-type: none;padding-bottom:0.5em;}
#strip{background:#2f333b url('img/strip.png') repeat-x;color:white;background-size:contain;border-bottom:solid 1px white;}
#header{height:100px;width:100%;max-width:940px;position:relative;margin:0px auto;}
#call-to-action{
  width: 250px;
  padding: 10px 25px 10px 25px;
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  margin: auto;
  display: block;
  text-align: center;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  line-height: 2em;
  width: auto; color: #fff;
  background: #f1910a; /* Old browsers */
  background: -moz-linear-gradient(top,  #f1910a 1%, #e55114 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f1910a), color-stop(100%,#e55114)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f1910a 1%,#e55114 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f1910a 1%,#e55114 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f1910a 1%,#e55114 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f1910a 1%,#e55114 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1910a', endColorstr='#e55114',GradientType=0 ); /* IE6-9 */
}
#header a{color:white;}
.header-img {max-width: 100%; max-height: 35px;}
#header .strip-left{position:absolute;left:-105px;width:105px;height:105px;background:url('img/strip-left.png');background-size:contain;}
#header .strip-right{position:absolute;right:-105px;width:105px;height:105px;background:url('img/strip-right.png');background-size:contain;}
#title{position:absolute;left:40px;bottom:30px;color:#ee8024;font-weight:900;}
#outgoing{position:absolute;right:40px;top:5px;font-size:0.6em;text-transform:uppercase;}
#outgoing a{color:#CCC !important;}
#outgoing a:hover{color:white !important;}
#navigation{font-size:1em;position:absolute;right:40px;bottom:5px;}

#content {width:100%;max-width:948px;margin:40px auto;background: white;box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);border-radius: 5px;overflow: hidden;}
#content .top {height:20px;width:100%;max-width:948px;}
#content .middle {}
#content .bottom {height:20px;width:100%;max-width:948px;}

#content .section {margin:0px 4px;padding:25px 40px 0;}
#content .divider {}
#content .map {position:relative;padding: 0;}

#banner{position:relative;width:100%;/*background:url('img/wwx2013-logo.png');color:white;background-repeat:no-repeat;background-position:center top;background-size: contain;*/}
#banner .padded{padding:20px 40px;}
#banner .attribution{color:white;font-size:0.6em;}
#banner .attribution a{color:white;}
#banner .drop {text-shadow: #000 0px 2px 4px;}

.register{display:block;right:40px;top:180px;width:163px;height:42px;margin-left:auto;margin-right:auto;background:url('img/register.png');}
.register:hover{background-position:0px -42px;}

#photos{float:right;margin-right:-36px;width:140px;height:140px;background-color:red;}

#ulule-widget p{
  line-height: 1.3em;
  font-size: 0.9em;
  text-align: center;
}
#ulule-widget{
  float: right;
  width: 40%;
  min-width: 250px;
  max-width: 300px;
  padding-top: 2.5em;
  max-height: 380px;
}
#content .aside {margin:0;background:url('img/aside-middle.png');color:white;}
#content .aside-top{height:14px;background:url('img/aside-top.png') repeat-x;}
#content .aside-middle{padding:16px 4%;}
#content .aside-middle h2 {padding-top: 0;}
#content .aside-bottom{height:14px;background:url('img/aside-bottom.png') repeat-x;}

#footer{text-align:center;padding-top:20px;}
#twitter{width:100%;}
#haxe{display:inline-block;width:51px;height:52px;background:url('img/haxe-logo.png');}
#haxe:hover{background-position:-50px 0px;}
.speaker {clear:both;}
.speaker img {float:right;width:60px;height:60px;padding-right:20px;padding-bottom:10px;}
.speaker h3 {color:#f58220;}

/*.speakers img {float:left; padding-right:20px; padding-top:12px;}*/
.speaker-image {float:left; margin-right:20px; margin-top:12px; width:100px; height:100px; background-position:center center; background-repeat:no-repeat; background-size:cover;}
.sponsors { margin-top:10px; }
.sponsors a { padding:8px; }
.sponsors img { margin-top:15px; }
