---
layout: default
subtitle: Speakers
---

{% for p in site.pages %}
	{% if p.year == page.year %}
		{% if p.layout == "talk" %}
			{% capture l %}{{ p.url }}{% endcapture %}
		{% endif %}
	{% endif %}
{% endfor %}

{% for p in site.pages %}
	{% if p.year == page.year %}
		{% if p.layout == "talk" %}
			<h2><a href="{{ site.baseurl }}{{ p.url | replace:'index.html','' }}">{{ p.title }}</a></h2>
			<p>
				{{ p.content }}
			</p>
			{% for p2 in site.pages %}
				{% if p2.layout == "speaker" %}
					{% if p.authors contains p2.speaker %}
						<br style="clear: both;" />
						<img class="mediumspeaker" src="{{ site.baseurl }}/images/speakers/{{ p2.speaker | slugify }}-small.jpg" />
			
						<h3><a href="{{ site.baseurl }}/speakers/{{ p2.speaker | slugify }}/">{{ p2.speaker }}</a> {{ p2.title }}</h3>
						<p>
							{{ p2.content }}
						</p>
			
					{% endif %}
				{% endif %}
			{% endfor %}
			
			{% if p.url == l %}
				<br style="clear: both;" />
			{% endif %}
			{% if p.url != l %}
				<hr />
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}
