---
layout: default
---

<h2>{{ page.title }}</h2>
<p>
	by
	{% for author in page.authors %}
	&nbsp;<a href="{{ site.baseurl }}/speakers/{{ author | slugify }}/">{{ author }}</a>
	{% endfor %}
</p>

<br />

<p>
	{{ content }}
</p>

{% if page.slide-url != "" %}
<br />

<p>
	Here are the <a href="{{ site.baseurl }}{{ page.url | replace:'index.html','' }}{{ page.slide-url }}">slides</a> of this presentation.
</p>
{% endif %}

{% capture videosize %}{{ page.video-url | size }}{% endcapture %}
{% if videosize != "0" %}
	<br />

	{% for url in page.video-url %}
		<div class="video">
			<iframe width="100%" height="394" src="http://www.youtube.com/embed/{{ url }}" frameborder="0" allowfullscreen="">
			</iframe>
		</div>
	{% endfor %}
{% endif %}
