---
layout: default
type: edition
---

<h2>{{ page.title }}</h2>
{% if page.authors %}
<p>
	by
	{% for author in page.authors %}
	&nbsp;<a href="{{ site.baseurl }}/speakers/{{ author | slugify }}/">{{ author }}</a>
	{% endfor %}
</p>
{% endif %}

<br />

<p>
	{{ content }}
</p>

{% if page.slide-url and page.slide-url != "" %}
<br />

<p>
	Here are the <a href="{% if page.slide-other != true %}{{ site.baseurl }}{{ page.url | replace:'index.html','' }}{% endif %}{{ page.slide-url }}">slides</a> of this presentation.
</p>
{% endif %}

{% assign videosize = (page.video-url | size) %}
{% if videosize > 0 %}
	<br />

	{% for url in page.video-url %}
		<div class="video">
			<iframe width="100%" height="394" src="http://www.youtube.com/embed/{{ url }}" frameborder="0" allowfullscreen="">
			</iframe>
		</div>
	{% endfor %}
{% elsif page.year == 2015 %}
<br />
<br />

<p>
	The videos for 2015 are editing and will be comming really soon.<br />
	If you want to be sure to be the first to see them, follow us on <a href="https://www.youtube.com/user/Silexlabs">Youtube</a>, <a href="https://twitter.com/silexlabs">Twitter</a> or on <a href="http://www.silexlabs.org/">silexlabs.org</a> right now!
</p>

{% endif %}
