---
---

*
{
	padding: 0px;
	margin: 0px;
}

body
{
	font-family: "Open Sans",sans-serif;
	background: #D3D3D3;
}

a
{
	color: #ff5000;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

header
{
	background: #141419;
	color: white;
	border: medium none;
	height: 44px;
}

header img
{
	float: left;
	top: 12px;
	position: relative;
}

nav
{
	line-height: 44px;
	height: 44px;
	padding-left: 175px;
	margin-top: -22px;
}

.nav, footer, .center
{
	text-align: center;
}

nav li, .nav li
{
	display: inline-block;
}

nav li.active a
{
	color: #f58220;
}

.content
{
	width: 90%;
	max-width: 984px;
	margin: 0 auto;
}

p
{
	line-height: 1.8em;
	text-align: justify;
}

.box
{
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
	margin: 40px auto;
	padding: 25px 0;
}

.box p
{
	padding-left: 25px;
	padding-right: 25px;
}

.box ul
{
	padding-left: 40px;
}

#banner
{
	position: relative;
	width: 100%;
	top: -20px;
}

h1
{
	margin-bottom: 25px;
	font-size: 3em;
	font-variant: small-caps;
}

h1, h2
{
	color: #f58220;
}

h2, h3
{
	padding-left: 25px;
}

h2
{
	font-size: 1.4em;
	line-height: 2em;
	padding-top: 0.5em;
}

h3
{
    font-size: 1.2em;
    padding-top: 0.5em;
}

header a, .aside h3 a
{
	color: white;
	padding: 10px 15px;
}

header a:hover
{
	text-decoration: none;
}

.about
{
	text-align: center;
}

.video
{
	padding: 25px;
}

.aside
{
	background: url('{{ site.baseurl }}/images/aside-middle.png') repeat;
	color: white;
	margin-top: 40px;
	margin-bottom: 15px;
}

.aside-top
{
	height: 14px;
	background: url('{{ site.baseurl }}/images/aside-top.png') repeat-x;
}

.aside-bottom
{
	height: 14px;
	background: url('{{ site.baseurl }}/images/aside-bottom.png') repeat-x;
	margin-top: 25px;
}

.box70, .box30
{
	vertical-align: top;
}

.box70
{
	display: inline-block;
	width: 69.5%;
}

.box30
{
	display: inline-block;
	width: 29.5%;
}

.speaker img
{
    float: right;
    width: 60px;
    height: 60px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#haxe
{
	display: inline-block;
	width: 51px;
	height: 52px;
	background: url('{{ site.baseurl }}/images/haxe-logo.png');
}

#haxe:hover
{
	background-position: -50px 0px;
}

.map
{
	padding: 25px 0;
	position: relative;
}

.shadow
{
    width: 100%;
    height: 8px;
    background: url("{{ site.baseurl }}/images/shadow.png") repeat-x scroll 0% 0%;
    top: -3px;
	position: relative;
}

.shadow-top
{
	position: absolute;
	top: 25px;
}

.mediumspeaker
{
	float: left;
	padding: 12px 20px 0px 25px;
}

hr
{
	clear: both;
	margin: 0.7em 25px 0px;
}

.black
{
	color: black;
}

.blue
{
	color: #06abe3;
}

.black, .blue
{
	font-weight: bold;
}

.box h2:first-child
{
	padding-top: 0;
}
